h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-container {
  width: 95%;
}
.color {
  color: black;
}
.dropdown {
  padding: 0.375rem 0.75rem;
  background: white;
  border: none;
  box-shadow: 0 0 1px;
  border-radius: 2px;
}
